  body{
    text-size-adjust: 100%;
    box-sizing:border-box;
    background-image: url("https://images.pexels.com/photos/893179/pexels-photo-893179.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260");
    background-attachment: fixed;
    background-repeat:no-repeat;
    font-size: large;
    font-weight: 400;
    border:5px;
    margin:10px;
    padding: 20px; 
    word-spacing:10px;
    color:blue;
    line-height:24px;

}

h1{
    text-decoration-color: lawngreen;
}
p{
    text-decoration-color: black;
}
