  body{
    text-size-adjust: 100%;
    box-sizing:border-box;
    background-image: url("https://images.pexels.com/photos/1046601/pexels-photo-1046601.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
    background-attachment: fixed;
    background-repeat:no-repeat;
    font-size: large;
    font-weight: 400;
    border:5px;
    margin:10px;
    padding: 20px; 
    word-spacing:10px;
    color: red;
    line-height:24px;

}

h1{
    text-decoration-color: skyblue;
}
p{
    text-decoration-color: skyblue;
}
