 body{
    text-align: left;
    text-size-adjust: 100%;
    box-sizing:border-box;
    width:300px;
    height:900px;
    background-image: url(https://i.pinimg.com/564x/2c/e2/4e/2ce24e616b98cd871e67defb356bbcaf.jpg);
    background-position:right bottom,left top;
    background-repeat:no-repeat;
    font-size: large;
    font-weight: 400;
    border:5px;
    margin:10px;
    padding: 20px; 
    word-spacing:10px;
    color: steelblue;
    display: block;
    line-height:24px;

}
p{
    justify-content:justify;
    color: slategrey;
    word-spacing:2px;
    font-size:15px;
    text-align: center;
}
font-family:;
font-weight:lighter;
font-decoration:blink;
word-spacind:30px;
text-tranceform:;
display:block;
float:right;
